# Database
themoviedb==0.4.0
psycopg2-binary==2.9.9

# Data Analysis
pandas
plotly
seaborn
matplotlib
gensim
nltk
wordcloud
jupyter

# Machine Learning
scikit-learn
keras
tensorflow
torch

# XAI
shap
sentence-transformers

# Web UI
gradio

